In [102]:
import pandas as pd
import numpy as np

In [103]:
df_movies = pd.read_csv('data/ratings.csv')

In [104]:
df_movies.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [105]:
df_movies = pd.pivot_table(df_movies, values='rating', index=['userId'],columns=['movieId'], aggfunc=np.max)

In [106]:
df_counter_ratings = pd.DataFrame(df_movies.sum(axis=0), columns=['sum_ratings'])
top_movies = list(df_counter.sort_values(by='sum_ratings', ascending=False)[:50].index)

In [107]:
df_top_movies = df_movies[top_movies]

In [108]:
df_top_movies = df_top_movies.applymap(lambda k: k>=2)

In [115]:
df_counter_views =  pd.DataFrame(df_top_movies.sum(axis=1), columns=['number_views'])
top_viewers = list(df_counter_views.loc[df_counter_views['number_views'] > 10].index.values)

In [119]:
df_top_movies = df_top_movies.loc[top_viewers]

In [120]:
df_top_movies = df_top_movies.replace(True,'y')
df_top_movies = df_top_movies.replace(False,'n')

In [121]:
df_top_movies.to_csv("data/movies_ratings.csv",index=False)